// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #6c757d;
}

.pagination {
    justify-content: center;
}

.fit-height {
    max-height: 70vh;
    object-fit: contain;
    margin-bottom: 25px;
}

.image-control {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;

    .image-control-edit {
        &::before {
            content: "";
            background-image: url('/images/pencil.png');
            background-size: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }

    .image-control-delete {
        &::before {
            content: "";
            background-image: url('/images/eraser.png');
            background-size: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}

.gallery-img-name {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    font-weight: bold;
}

.zero-bottom-padding {
    padding-bottom: 0px;
}

.image-rating-form {
    .rating-star {
        display: none;
    }
    label {
        background-image: url(/images/star.png);
        background-size: 20px;
        width: 20px;
        height: 20px;
        margin-right: -2px;
        cursor: pointer;
        opacity: 0.4;
        &.active {
            opacity: 1;
        }
    }
}

.rating-star-rated {
    display: inline-block;
    background-image: url(/images/star.png);
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: -2px;
    cursor: pointer;
    opacity: 0.4;
    &.active {
        opacity: 1;
    }
}

@media (min-width: 576px) {
    .image-resposive-height {
        max-height: 20vh;
        display: block;
        margin: auto;
    }
}

.card-body {
    .list-group {
        position: relative;
        .list-group-item {
            margin-bottom: 0px;
        }
    }
}

#image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    h1 {
        color: coral;
    }
    .grid-container {
        columns: 5 200px;
        column-gap: 1.5rem;
        width: 90%;
        margin: 0 auto;
        div {
            width: 150px;
            margin: 0 1.5rem 1.5rem 0;
            display: inline-block;
            width: 100%;
            border: solid 1px lightgray;
            padding: 5px;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
            border-radius: 5px;
            transition: all .25s ease-in-out;
            &:hover img {
                filter: grayscale(0);
            }
            &:hover {
                border-color: coral;
            }
            img {
                width: 100%;
                border-radius: 5px;
                transition: all .25s ease-in-out;
            }
            p {
                margin: 5px 0;
                padding: 0;
                text-align: center;
                font-style: italic;
                text-decoration: none;
            }
        }
    }
}
